  .Welcome-message {
    color: cadetblue;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }

   body {
    background-color:seagreen;
    font-weight: 700;
    font-family: "poppins", sans-serif;
   }

   .question {
    color:firebrick;
    font-family: 'Verdana', sans-serif;
    text-decoration: underline;
   }



   #Welcome-message {
    color: cadetblue;
    text-align: center;
    font-family: 'Arial', sans-serif;
   }

   body {
    background-color:rgb(213, 157, 255);
    font-weight: 700;
    font-family: "poppins", sans-serif;
   }

   .flower-container {
    padding: 10px;
    margin: 10px;
   }

   .flower-bouquet {
            background-color: hotpink;
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            box-shadow: rgb(106, 27, 167);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: center;
   }

    .flower-bouquet:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
    }

    .btn {
        background-color: purple;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    .btn:hover {
        background-color: darkmagenta;
    }

   .add-btn{
     background-color: purple;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
   }

    .social-media-icon {
        width: 40px;
        height: 40px;
        margin: 5px;
    }